# Assignment 2 Solutions

1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].

  i. WAP to add 200 and 300 to L.

  ii. WAP to remove 10 and 30 from L.

  iii. WAP to sort L in ascending order.

  iv. WAP to sort L in descending order.

In [ ]:
L = [10,20,30,40,50,60,70]

# adding 200 and 300 to the list
L.append(200)
L.append(300)
print(L)

#removing 10 and 30
L.remove(10)
L.remove(30)
print(L)

#sorting L in ascending order
L.sort()
print(L)

#sorting L in descending order
L.sort(reverse=True)
print(L)

[10, 20, 30, 40, 50, 60, 70, 200, 300]
[20, 40, 50, 60, 70, 200, 300]
[20, 40, 50, 60, 70, 200, 300]
[300, 200, 70, 60, 50, 40, 20]

2**. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions:**

  i. Identify the highest score and its index in the tuple.

  ii. Find the lowest score and count how many times it appears.

  iii. Reverse the tuple and return it as a list.

  iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and

  print its first occurrence index, or a message saying it’s not present.

In [12]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
print("Maximum score = ",max(scores),"at position = ",(scores.index(max(scores))+1))
print("Minimum Score =",min(scores),"and it appears =",scores.count(min(scores)),"times")
scores = list(scores)
scores.reverse()
print(scores)
s = input("Input a score ")
if float(s) in scores:
  print(scores.index(int(s)))
else:
  print("Not present")

Maximum score =  92 at position =  6
Minimum Score = 45 and it appears = 2 times
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
Input a score 76
5

**3. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:**

  i. All odd numbers

  ii. All even numbers

  iii. All prime numbers

In [17]:
import random
j=[]
for i in range(100):
  j.append(random.randint(100,900))

def check_prime(n):
  if n==1 or n==0:
    return False
  for i in range(2,n):
    if n%i==0:
      return False
  return True


codd=0
ceven=0
odd=[]
even=[]
prime=[]
cprime = 0
for i in j:
  if i%2==0:
    even.append(i)
    ceven+=1

for i in j:
  if i%2!=0:
    odd.append(i)
    codd+=1

for i in j:
  if check_prime(i):
    prime.append(i)
    cprime+=1

print(odd)
print("Odd numbers = ",codd)
print(even)
print("Even numbers = ",ceven)
print(prime)
print("Even numbers = ",cprime)

[163, 343, 765, 527, 363, 375, 223, 887, 737, 135, 659, 573, 601, 699, 787, 565, 733, 809, 469, 231, 507, 363, 529, 435, 617, 865, 481, 605, 859, 843, 183, 691, 595, 109, 697, 333, 261, 563, 783, 899, 681, 175, 141, 729, 693, 351, 707]
Odd numbers =  47
[506, 458, 692, 588, 560, 680, 736, 596, 290, 114, 362, 182, 336, 388, 134, 868, 110, 592, 692, 470, 488, 302, 242, 792, 178, 162, 426, 716, 706, 606, 306, 476, 756, 542, 352, 168, 776, 410, 798, 636, 838, 560, 268, 814, 274, 328, 128, 296, 186, 696, 152, 846, 144]
Even numbers =  53
[163, 223, 887, 659, 601, 787, 733, 809, 617, 859, 691, 109, 563]
Even numbers =  13

**4. Consider the following two sets, A and B, representing scores of two teams in multiple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23} WAP to perform the following operations using set functions:**

  i. Find the unique scores achieved by both teams (union of sets).

  ii. Identify the scores that are common to both teams (intersecƟon of sets).

  iii. Find the scores that are exclusive to each team (symmetric difference).

  iv. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.

  v. Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.

In [18]:
A = {34,56,78,90}
B = {78,45,90,23}

print(A.union(B))
print(A.intersection(B))
print(A-B)
print(A.issubset(B))
print(B.issuperset(A))
s = input("Input a score ")
if int(s) in A:
  A.remove(int(s))
  print(A)
else:
  print("Not present")

{34, 45, 78, 23, 56, 90}
{90, 78}
{56, 34}
False
False
Input a score 56
{34, 90, 78}

**5. Write a program to rename a key city to a location in the following dictionary.**

In [21]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New York"
}

# here we basically remove a key-value pair from the dictionary using the pop keyword and at the same time
# the function is returning the "value" from the key value pair and hence we get the value of "city" stored in "location"

sample_dict["location"] = sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}